<!DOCTYPE html>
<html>
<head>
  <style>
    body { font-family: Arial, sans-serif; margin: 0; padding: 0; }
    .header { text-align: center; padding: 15px; }
    .logo { width: 110px; margin-bottom: 5px; }
    .accent { height: 6px; background-color: #F59A23; margin-bottom: 20px; }
  </style>
</head>
<body>
{{{body}}}
</body>
</html>